$header-bg-color: #648ca6;

$footer-bg-color: #648ca6;

$content-bg-color: #8fd4d9;
$content__header-color: #708090;
$content__overview-card-color: #d3d3;
$content__main-card-bg-color: #82bef6;

$sidebar-bg-color: #394263;
$sidebar__item-color: #dddddd;

$menu-toggle-bg-color: #dadae3;
